<div class="pic-and-names">
  <div class="profile-picture">
    <span class="fa fa-user fa-9x"/>
  </div>
  <div class="display-name">
    <%= @intern.display_name %>
  </div>
  <% if !@intern[:present_in_TW]%>
    <div class="not-present-in-TW">
      <span class="fa fa-ban fa-lg"/>
    </div>
  <% end %>
  <div class="full-name">
    <span> <%= @intern.first_name %> </span>
    <span> <%= @intern.last_name %> </span>
  </div>

  <div class="actions">
    <div class="action">
      <%= link_to(edit_intern_path(@intern)) do %>
        <span class="fa fa-edit fa-lg"/>
      <% end %>
    </div>
    <div class="action">
      <%= link_to(@intern, method: :delete, data: { confirm: 'Are you sure?' }) do %>
        <span class="fa fa-trash fa-lg"/>
      <% end %>
    </div>

    <div class="action">
      <% if @intern[:present_in_TW]%>
        <%= link_to  not_in_TW_intern_path, method: :post do %>
          <span class="fa fa-ban fa-lg"/>
        <% end %>
      <% else %>
        <%= link_to  present_in_TW_intern_path, method: :post do %>
          <span class="fas fa-undo-alt"/>
        <% end %>
      <% end %>
    </div>
  </div>
</div>