<div class=container>
  <div class="heading">
    <h2 class="text-center">Bulk Import Results</h2>
  </div>
  <% if @interns[:invalid_attribute].empty? %>
    <% if @interns[:failed_rows_number] <1 %>
      <h2>Import on <%= @date%>: <span class="success-status"> <%= "Successfully Imported" %></span></h2>
    <% else %>
      <h2>Import on <%= @date%>: <span class="failed-status"> <%= "Failed" %></span></h2>
      <div class=summary>
        <h1>Summary</h1>
        <% if @file_name %>
          <div class="name">File Name:  <span class="file-name"><%= @file_name%></span></div>
        <% end %>
        <div class="total-rows">Total rows: <span class="total-rows-count"><%= @interns[:total_rows]%></span></div>
        <div class="success">Success row(s):  <span class="success-count"><%= @interns[:success_rows_number]%></span></div>
        <div class="failed">Failed row(s): <span class="failed-count"><%= @interns[:failed_rows_number]%></span></div>
      </div>
    <% end%>
    <% if @interns[:invalid_attribute].empty? && @interns[:failed_rows_number] > 0 %>
      <div class=details-errors>
        <h1>Error Details</h1>
        <% @interns[:interns_records].each do |intern|  %>
          <table class="table table-bordered">
          <div><%= "Row no:  #{intern[:row_number]}" %></div>
            <thead class="thead-light">
              <tr>
                <th>Emp Id</th>
                <th>Display Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Batch</th>
                <th>Dob</th>
                <th>Gender</th>
                <th>Thoughtworkes Email</th>
                <th>Personal Email</th>
              </tr>
            </thead>
            <tr>
                <td><%= intern[:invalid_intern_details]['emp_id'] %></td>
                <td><%= intern[:invalid_intern_details]['display_name'] %></td>
                <td><%= intern[:invalid_intern_details]['first_name'] %></td>
                <td><%= intern[:invalid_intern_details]['last_name'] %></td>
                <td><%= intern[:invalid_intern_details]['batch'] %></td>
                <td><%= intern[:invalid_intern_details]['dob'] %></td>
                <td><%= intern[:invalid_intern_details]['gender'] %></td>
                <td><%= intern[:invalid_intern_details]['thoughtworks_email'] %></td>
                <td><%= intern[:invalid_intern_details]['personal_email'] %></td>
            </tr>
          </table>
            <div>
              <h2>
                <%= pluralize(intern[:errors].count, "error") %>
              </h2>
            </div>
            <ul>
              <% intern[:errors].each do |msg| %>
               <li><%= msg %></li>
              <% end %>
            </ul>
        <% end %>
      </div>
    <% end %>
  <% else%>
    <div class="invalid-csv-file">
      <h2> Invalid CSV File!! Please pass valid CSV file or follow the Instructions </h2>
    </div>
  <% end %>
</div>
